body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #ccc;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h4 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
}

a {
  color: #ccc;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #fff;
}

.social-media img,
.mobile-app img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.mobile-app img {
  width: 40px;
}

.social-media a:hover img {
  filter: brightness(1.5);
}

.mobile-app p {
  margin-top: 20px;
  margin-bottom: 10px;
}
