{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/forum.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
    <header class="header_container"></header>
    <div class="sidebar">
        <div class="tutorial">
            <a href="#" class="tut">Tutorial</a>
        </div>
        <div class="discussion">
            <a href="#">Discussion</a>
        </div>
    </div>
    <!-- <div class="tutorialmain">
        <div class="t1">
            <div class="video1">
                <iframe src="https://www.youtube.com/embed/qP23O70ve7k?si=mVLq925UsEO2OO5U" id="v1" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="textarea1">
                <input type="text" placeholder="Enter text" id="text1">
            </div>
        </div>
        <div class="t2">
            <div class="video2">
                <iframe src="https://www.youtube.com/embed/qP23O70ve7k?si=mVLq925UsEO2OO5U" id="v2" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="textarea2">
                <input type="text" placeholder="Enter text" id="text2">
            </div>
        </div>
        <div class="t3">
            <div class="video3">
                <iframe src="https://www.youtube.com/embed/qP23O70ve7k?si=mVLq925UsEO2OO5U" id="v3" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="textarea3">
                <input type="text" placeholder="Enter text" id="text3">
            </div>
        </div>
        <div class="t4">
            <div class="video4">
                <iframe src="https://www.youtube.com/embed/qP23O70ve7k?si=mVLq925UsEO2OO5U" id="v4" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="textarea4">
                <input type="text" placeholder="Enter text" id="text4">
            </div>
        </div>
        
    </div> -->
    <div class="tutorialmain">
        
        <div class="t">
            <div class="video">
                <iframe  src="https://www.youtube.com/embed/heTxEsrPVdQ?si=8y5qoGpbExwlxFxy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

       
        <div class="t">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/FW_bw9jdrlQ?si=k_mJReJKzGWH7D12" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        
        <div class="t">
            <div class="video">
                <iframe  src="https://www.youtube.com/embed/Sk589ETzr9o?si=V_Ezmef1h6RwdSfx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        
        <div class="t">
            <div class="video">
                <iframe  src="https://www.youtube.com/embed/dBZoYg08b-U?si=QNZxWJ_5K75gwk54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="t">
            <div class="video">
                <iframe  src="https://www.youtube.com/embed/xFqecEtdGZ0?si=WayQ3QAXbDalgyAd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="t">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/LGF33NN4B8U?si=XkZVvvNifoNJcRAf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        
    </div>
{% endblock %}